<!--<!DOCTYPE html>-->
<!--{% if user %}-->
    <!--<h1>Hello {{user}}</h1>-->
<!--{% else %}-->
    <!--<h1>Please log in</h1>-->
<!--{% endif %}-->

<!--<!DOCTYPE html>-->
<!--{% if user %}-->
    <!--<h1>Hello {{user}}</h1>-->
<!--{% else %}-->
    <!--<h1>Please log in</h1>-->
<!--{% endif %}-->

<!DOCTYPE html>
<html lang="en">
<style>
a:link, a:visited {
    align-items: center;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
    align-content: center;
    text-align-all: center;

}

a:hover, a:active {
  background-color: red;
    align-items: center;
align-content: center;
      text-align: center;

}
</style>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Raspberry Pi College</h1>
    </div>
    </div>

<br>
<a href="/login" target="_blank">This is a link to Login</a>
</br><br>
<a href="/register" target="_blank">This is a link to Register</a>
</br>
</div>
</body>
</html>